<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd "
       default-lazy-init="true">


    <!-- <context:property-placeholder location="classpath*:provider.properties" /> -->

    <!-- 配置hiveDaoSupport -->
    <!--<bean id="hiveDaoSupport" class="com.hive.impl.HiveDaoSupportImpl">
        <property name="dataSource" ref="hiveDataSource"/>
    </bean>-->

    <bean id="hiveKerberos" class="com.shop.utils.HiveKerberosDruidDataSource">
        <constructor-arg name="kerberos" value="true"/>
        <constructor-arg name="krb5Conf" value="${kerberos.krb5Conf}"/>
        <constructor-arg name="user" value="${kerberos.user}"/>
        <constructor-arg name="path" value="${kerberos.keytab}"/>
    </bean>

    <!-- 配置HiveTemplate -->
    <bean id="hiveTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="hiveDataSource"/>
        <qualifier value="hiveTemplate"/>
    </bean>

    <bean id="hiveDataSource" class="com.alibaba.druid.pool.DruidDataSource" depends-on="hiveKerberos">
        <property name="driverClassName" value="org.apache.hive.jdbc.HiveDriver"/>
        <property name="url" value="${jdbc.hive.url}"/>
        <property name="username" value="${jdbc.hive.user}"/>
        <property name="password" value="${jdbc.hive.password}"/>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${jdbc.hive.initialSize}" />
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="${jdbc.hive.maxActive}" />
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0" />
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${jdbc.hive.maxWait}" />

        <!--检测连接  -->
        <property name="validationQuery" value="SELECT 1" />
        <property name="testOnBorrow" value="true" />
        <property name="testOnReturn" value="true" />
        <property name="testWhileIdle" value="true" />

        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000" />
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000" />
        <!-- 配置重连 -->
        <property name="logAbandoned" value="true"></property>
        <property name="removeAbandoned" value="true"></property>
        <property name="removeAbandonedTimeout" value="1800"></property>
    </bean>

</beans>